/*
2 *= require_tree .
3 *= require slick
4 *= require slick-theme
5 *= require_self

6 */
body{
    margin: 0;
    background:#c9e2ed;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
}
 .line{
width: 40%;
height: 47px;
margin-left: 01.5%;
margin-top: -48px;
border-bottom: 5px solid white;
position: absolute;
}

.quicksand{
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

#title{ 
  margin-left: 100px;
  margin-top: 100px;
  width: auto;
}
#subtitle{
  padding-top: 3px;
  font-size: 30px;
}
#title-container{

  margin-top: -80px;
}

#name{
  padding: 5px;
  padding-left: 3px;
  padding-right: 3px;
  letter-spacing: 5px;
  font-size: 60px;
  font-weight: 600;
  border: 5px solid white;
  width: 48%;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
} 

#home_drawing{
  display: inline-block;
  float: right;
  margin-right: 0px;
  overflow: hidden;
  margin-top: -750px;
}

#icons-container{
  display: inline-block;
  margin-top: -30px;
}
.fa{
  padding: 0 20px 0 20px;
  font-size: 50px;
  color: white;
}
.fa:hover{
  color: #efefef;
}


.arrow-container{
  display: inline-block;
  width: 60%;
  padding-top: 100px;
  margin-left: 334%;
  margin-top: -100px;
}
#title-name{
  display: inline-block;
  text-align: center;
  letter-spacing: 2px;
  width: 400px;
  color: white;
  font-weight: 600;
  font-size: 40px;
}
.arrow{
  display: inline-block;
}
#title-description{
   text-indent: 50px;
  width: 40%;
  font-size: 25px;
  float: left;
  margin-top: 0px;
  margin-left: 40px;

}

.wrapper {
  margin-top: 50px;
  margin-left: 75px;
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 100px; 
}

.slide {
    position: absolute;
    left: -400px;
    width: 400px;
    height: 100px;
    transition: 1s;
}
.slide-effect {
    transition: 1s;
    left: 0;
}
.square {
  -moz-border-radius: 50px/50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 10px/10px;
  border: solid 7px white;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-left: 20px;
}
.square:hover{
   border: solid 7px #efefef;
}
#icon-container{
  margin-top: -20px;
  margin-left: 35%;
}

.wrapper2 {
  margin-left: 75px;
    position: relative;
    overflow: hidden;
    width: 1000px;
    height: 600px; 
}

.slide2 {
    position: absolute;
    left: -500px;
    width: 400px;
    height: 100px;
    transition: 1s;
}
.slide-effect2 {  
    transition: 1s;
    left: 0;
}
