<!DOCTYPE html>
<html>
<head>
  <title>Jack Shelley</title>
  <%= csrf_meta_tags %>

  <script src="https://use.fontawesome.com/8f84b7372d.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <div class="section black" id="section1">
    <h2>Section 1</h2>
    <p>
      <div class="title-container">
        <div id='title'>
          <h1 class='quicksand' id='name'>Jack Shelley</h1>
          <div id='div-line'></div>
          <h2 class='quicksand' id='dev'>Web Developer</h2>
        </div>
      </div>
    </p>
    <ul class="nav">
      <li><a href="#section1"><i class="fa fa-circle" aria-hidden="true"></i></a></li>
      <li><a href="#section2"><i class="fa fa-circle-o" aria-hidden="true"></i></a></li>
      <li><a href="#section3"><i class="fa fa-circle-o" aria-hidden="true"></i></a></li>
    </ul>
  </div>

  <div class="section white" id="section2">
    <h2>Section 2</h2>
    <p>
      A fathomless and boundless deep,
      There we wander, there we weep;
      On the hungry craving wind
      My Spectre follows thee behind.

    </p>
    <ul class="nav">
      <li><a href="#section1"><i class="fa fa-circle-o" aria-hidden="true"></i></a></li>
      <li><a href="#section2"><i class="fa fa-circle" aria-hidden="true"></i></a></li>
      <li><a href="#section3"><i class="fa fa-circle-o" aria-hidden="true"></i></a></li>
    </ul>
  </div>

  <div class="section black" id="section3">
    <h2>Contact!</h2>
    <p>
      He scents thy footsteps in the snow
      Wheresoever thou dost go,
      Thro' the wintry hail and rain.
      When wilt thou return again?

    </p>

    <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a>


    <ul class="nav">
      <li><a href="#section1"><i class="fa fa-circle-o" aria-hidden="true"></i></a></li>
      <li><a href="#section2"><i class="fa fa-circle-o" aria-hidden="true"></i></a></li>
      <li><a href="#section3"><i class="fa fa-circle" aria-hidden="true"></i></a></li>
    </ul>
  </div>

</body>
</html>
